{% extends 'menu/index.html' %}


{% block titulo %}
<div class="masthead-heading text-uppercase">Entradas</div>
<!--<div class="masthead-subheading">Elige tu favorita!</div>-->
<a class="btn btn-primary btn-xl text-uppercase" href="#portfolio">Elegí tu favorita!</a>                 
{% endblock titulo %}

{% block contenido %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre de la entrada</th>
            <th>Ingredientes</th>
        <tr>
    </thead>
    <tbody>
    {% for e in Entradas %}
        <tr>
            <th>{{e.id}}</th>
            <th>{{e.nombre}}</th>
            <th>{{e.ingredientes}}</th>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido %}

{% block menu_contact %}
{% endblock menu_contact %}